<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/34f485c6-4ff5-4cbe-910d-acd44b7c116f/resourceGroups/ElevateEvansvilleUIWasm20221006164740ResourceGroup/providers/Microsoft.Web/sites/ElevateEvansvilleAPI20221105175601</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://elevateevansvilleapi20221105175601.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1356b0e4-6a39-44bc-bdde-e37eed6420b4</ProjectGuid>
    <publishUrl>ftps://waws-prod-dm1-307.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>ElevateEvansvilleAPI20221105175601\$ElevateEvansvilleAPI20221105175601</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>