<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/34f485c6-4ff5-4cbe-910d-acd44b7c116f/resourceGroups/ElevateEvansvilleUIWasm20221006164740ResourceGroup/providers/Microsoft.Web/sites/ElevateEvansville</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://elevateevansville.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>78fb5883-343e-4fbc-87d5-f4fd08a116d8</ProjectGuid>
    <PublishUrl>https://elevateevansville.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ElevateEvansville</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>